:root {
  // Favorite colours
  // #ce0379
  // #00955a
  // #5e00d1
  --primary: #00ffff;
  --red: red;
  --heading-color: #FFF;
  --text-color: #fff300;
  --text-color-alt: #5eff00;
  --bg-color: #000;
  --black: #212529;
  --white: #fdfdfd;
  --dark-grey: #ffffff;
  --subtle-text: #713bdc;
  --subtle-links: #7d60ff;
  --light-grey: #ff00d3;
  --lighter-gray: #f6f6f6;
  --font-base: 'Georgia';
  --font-monospace: 'Courier New';
  --font-headings: 'Georgia';
  --border-radius: 0.2rem;
}