<style>
.project .cover{float:right;width:6rem;aspect-ratio:1;margin:0 0 1rem 1rem}.project .cover.app-icon{width:3rem}
.project .cover img{width:100%;object-fit:cover}
.project .cover .emoji{font-size:3rem;display:flex;align-items:center;justify-content:center;height:100%}
.project .stats{margin-bottom:1rem}.project .stats img,.project .stats svg{width:1em;height:1em;vertical-align:middle}html.dark .project .stats svg{filter:invert()}
.project>p+.tags{margin-top:-1.5em}.project>.view-link{clear:both;text-align:right}
</style>
