{% extends "base.html" %}
{% import "macros/images.html" as images %}

{% block head_extra %}
<style>
.sr{list-style:none;padding:0}
.sr>li{display:flex;gap:1rem;margin-bottom:1.5rem}
.sr img{width:10rem;height:auto}
.sr .d{flex:1}
@media(max-width:30em){.sr>li{flex-direction:column}.sr img{width:100%;height:auto}.sr .d{text-align:center}}
</style>
{% endblock head_extra %}

{% block content %}

<h1>{{taxonomy.name | capitalize }} &raquo; {{ term.name | capitalize }}</h1>

{% set sorted_pages = term.pages | sort(attribute="date") %}
<p>There are {{ sorted_pages | length }} entries in this series, the first on {{ sorted_pages | first | get(key="date") | date(format="%d %B %Y") }} and the most recent on {{ sorted_pages | last | get(key="date") | date(format="%d %B %Y") }}.</p>

{% for year, posts in sorted_pages | group_by(attribute="year") %}
<hr>
<h2>{{ year }}</h2>
<ul class="sr">
  {% for post in posts %}
  <li>
    {% if post.extra.images %}
    <a href="{{ post.permalink | safe }}">{{ images::responsive_thumbnail(path=post.path, src=post.extra.images[0], alt=post.title, default_size=320, sizes=[320, 640, 1024]) }}</a>
    {% endif %}
    <div class="d">
      <div><a href="{{ post.permalink | safe }}">{{ post.title }}</a>{% if post.draft %} (Draft){% endif %}</div>
      <div class="s">{{ post.date | date(format="%d %B %Y") }}</div>
      {% if post.description %}<p class="s">{{ post.description }}</p>{% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock content %}
