{% extends "base.html" %}
{% import "macros/projects.html" as projects -%}
{% import "macros/taxonomies.html" as taxonomies -%}

{% macro inline_links(slugs, prefix, joiningWord) %}{% for slug in slugs %}{% if loop.last and loop.index0 > 0 %} {{ joiningWord }} {% endif %}<a href="{{ prefix }}{{ slug }}">{{ slug | capitalize }}</a>{% if not loop.last %},{% endif %}{% endfor %}{% endmacro inline_links %}

{% macro tag_list(slugs, prefix, label) %}
<ul class="tags s">
{% if label %}
<li>{{ label }}</li>
{% endif %}
{% for slug in slugs %}
<li><a href='{{ prefix }}{{ slug }}'>{{ slug | capitalize }}</a></li>
{% endfor %}
</ul>
{% endmacro tag_list %}

{# Page hooks #}
{% macro post_above_content(page) -%}


    {% if page.taxonomies["project"] or page.taxonomies["series"] or page.taxonomies["medium"] -%}
    
    <p><em>  
      {# PROJECTS #}
      {% if page.taxonomies["project"] %}
      Part of the 
      {% for project in page.taxonomies["project"] | sort -%}
      {%- if loop.index > 1 -%}
      {%- if loop.last %} and {% else -%},{% endif %}
      {% endif %}
      {{ projects::html_link(name=project) }}      
      {% endfor -%}
       project{% if page.taxonomies["project"]|length >1 %}s{% endif %}.
      {% endif -%}
      {# SERIES #}
      {% if page.taxonomies["series"] %}
      Part of the 
      {% for series in page.taxonomies["series"] | sort -%}
      {%- if loop.index > 1 -%}
      {%- if loop.last %} and {% else -%},{% endif %}
      {% endif %}
      <a href="{{ taxonomies::url(taxonomy='series', term=series) }}">{{ series }}</a>      
      {% endfor -%}
       series{% if page.taxonomies["series"]|length >1 %}'{% endif %}.
      {% endif -%}

      {# SERIES #}
      {% if page.taxonomies["medium"] %}
      Medium: 
      {% for medium in page.taxonomies["medium"] | sort -%}
      {%- if loop.index > 1 -%}
      {%- if loop.last %} and {% else -%},{% endif %}
      {% endif %}
      <a href="{{ taxonomies::url(taxonomy='medium', term=medium) }}">{{ medium }}</a>      
      {%- endfor -%}.
      {% endif -%}

    </em></p>
    {% endif -%}
{% endmacro post_above_content -%}

{% macro post_below_tags(page) -%}{% endmacro post_below_tags -%}

{% macro post_below_content(page) -%}{% endmacro post_below_content -%}

{% macro posts_below_title(page) -%}
<ul class="tags s">
{% if page.taxonomies is containing ("tags") -%}
  {% for tag in page.taxonomies["tags"] | sort -%}
    <li><a href='{{ config.base_url | safe }}/tags/{{ tag | slugify }}'>{{ tag }}</a></li>
  {% endfor -%}
  {% endif -%}
</ul>
{% endmacro posts_below_title -%}



{% macro og_image_tags() %}

{%- if page.extra.cover -%}
  {%- set_global url = images::responsive_image_url(path="@", src=page.extra.cover, width=1200, height=630) -%}
{%- elif page.extra.images -%}
  {%- set_global url = images::responsive_image_url(path= page.colocated_path, src=page.extra.images[0], width=1200, height=630) -%}
{%- elif page.extra.open_graph_image -%}
  {%- set_global url = images::responsive_image_url(path="@", src=page.extra.open_graph_image, width=1200, height=630) -%}
{%- elif config.extra.open_graph_image -%}
  {%- set_global url = images::responsive_image_url(path="", src=config.extra.open_graph_image, width=1200, height=630) -%}
{%- elif config.extra.avatar -%}
  {%- set_global url = images::responsive_image_url(path="", src=config.extra.avatar, width=1200, height=630) -%}
{%- endif -%}

{%- if url -%}
<meta property="og:image" content="{{ url | trim}}"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta name="twitter:image" content="{{ url | trim}}"/>
{%- endif -%}

{% endmacro og_image_tags %}