{% import "macros/icons.html" as icons -%}
{# Returns all the values in a taxonmy, would be nice to sort by count #}

{% macro url(name) -%}

{% set project = get_taxonomy_term(kind="project", term=name)  %}
{% set page_exists = load_data(path="projects/"~project.slug~".md", required=false) -%}
{% if page_exists %}
{% set page = get_page(path="projects/"~project.slug~".md") %}
{{ page.permalink }}
{% else %}
{{ project.permalink }}
{% endif %}
{% endmacro url %}

{% macro html_link(name) -%}
{% set project = get_taxonomy_term(kind="project", term=name)  %}
{% set page_exists = load_data(path="projects/"~project.slug~".md", required=false) -%}
{% if page_exists %}
{% set_global page = get_page(path="projects/"~project.slug~".md") %}
{% set_global url = page.permalink %}
{% else %}
{% set_global url = project.permalink %}
{% endif %}
<a href="{{ url }}">{% if page and page.extra and page.extra.emoji %}{{ page.extra.emoji }}{% else %}💡{% endif %} {{ project.name }}</a>  
{% endmacro html_link %}





{% macro summary(name, onpage=false, app_page=false, app_index=0, hide_link=false) -%}

{% set project = get_taxonomy_term(kind="project", term=name)  %}

{%- set page_exists = load_data(path="projects/"~project.slug~".md", required=false) -%}
{% if page_exists %}
{% set page = get_page(path="projects/"~project.slug~".md") %}
{# <code>{{ page | json_encode(pretty=true) }}</code> #}
{% endif %}

{%- if page and page.extra and page.extra.emoji -%}
{% set_global emoji = page.extra.emoji -%}
{%- else -%}
{% set_global emoji = "💡" -%}
{%- endif -%}

<div class="project">
    {# <code>{{ project | json_encode(pretty=true) }}</code> #}

        {% if onpage %}
        <h1>{{ emoji }} Project {{ project.name }}</h1>
        {% elif app_page and page_exists and page.extra and page.extra.apps %}
        <h3>{{ page.extra.apps[app_index].name }} App</h3>
        {% else %}
        <h3>{{ emoji }} Project {{ project.name }}</h3>
        {% endif %}

        {% if app_page and page_exists and page.extra and page.extra.apps -%}
        <div class="cover app-icon">
            {{ images::responsive_image(path="@", src=page.extra.apps[app_index].icon, alt=page.extra.apps[app_index].name, default_size=config.extra.images_default_size, sizes=config.extra.images_sizes) }}
        </div>
        {% elif page and page.extra and page.extra.cover -%}
        <div class="cover">
            {{ images::responsive_image(path="@", src=page.extra.cover, alt=project.name, default_size=config.extra.images_default_size, sizes=config.extra.images_sizes) }}
        </div>
        {% endif -%}

        {% set last = project.pages | last %}
        <p class="stats s">
            {{ project.pages.0.date | date(format="%B %Y") }} ·
            {% if config.extra.inline_icons %}{{ icons::icon(name="chat.svg") }}{% else %}<img src="/icons/chat.svg" alt="Blog">{% endif %} {{ project.pages | filter(attribute="ancestors.1", value="blog/_index.md") | length }}
            {% if config.extra.inline_icons %}{{ icons::icon(name="color-palette.svg") }}{% else %}<img src="/icons/color-palette.svg" alt="Gallery">{% endif %} {{ project.pages | filter(attribute="ancestors.1", value="gallery/_index.md") | length }}
        </p>

        {% if page_exists and page.description and not app_page %}
        <p>{{ page.description }}</p>
        {% endif -%}

        {% if app_page and page_exists and page.extra and page.extra.apps %}
        {% set app = page.extra.apps[app_index] %}
        <p class="s">📱 <a href="{{ app.google }}">Google Play</a> · <a href="{{ app.apple }}">Apple</a>{% if app.website %} · <a href="{{ app.website }}">Web</a>{% endif %}</p>
        {% endif -%}

        {% if page and page.taxonomies and page.taxonomies["tags"] -%}
        <ul class="tags s">
            {% for tag in page.taxonomies["tags"] %}
              <li><a href='{{ config.base_url | safe }}/tags/{{ tag | slugify }}'>{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif -%}

        {% if not onpage and not hide_link -%}
        <p class="view-link"><strong><a href="{% if page and page.permalink %}{{ page.permalink | safe }}{% else %}{{ project.permalink | safe }}{% endif %}">View Project &raquo;</a></strong></p>
        {% endif -%}

</div>


{% endmacro summary %}
