{% extends "base.html" %}

{% block content %}

<h1><a href="{{ get_url(path='gallery',trailing_slash=false)|safe}}">Gallery</a> &raquo; {{ term.name | capitalize }}</h1>

{% for year, posts in term.pages | group_by(attribute="year") %}
<ul class="gallery flat">
  <h2 class="archive-year">{{ year }}</h2>
  {% for post in posts %}
  {% if post.extra.images  %}
  {% for image in post.extra.images %}
  {% set image = resize_image(path=post.path ~ image, width=256, height=256, format=config.extra.image_format, quality=70) %}
  <li class="thumbnail">
    <a href="{{ post.permalink | safe }}" title="{{ post.title }} - {{ post.date }}"><img src="{{ image.url }}" alt="{{ post.title }} - {{ post.date }}" /></a>
  </li>
  {% endfor %}
  {% endif %}
  {% endfor %}

</ul>
{% endfor %}
  
  {% endblock content %}