
{% extends "base.html" %}


{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>

<article>{{ page.content | safe }}</article>


<div id="disqus_thread"></div>

<script>
(function(){
  var c=document.createElement('canvas'),x=c.getContext('2d',{willReadFrequently:true});c.width=c.height=1;
  function toHex(v){x.fillStyle=v;x.fillRect(0,0,1,1);var d=x.getImageData(0,0,1,1).data;return'#'+[d[0],d[1],d[2]].map(function(n){return n.toString(16).padStart(2,'0')}).join('')}
  function convert(s){return s?s.replace(/oklch\([^)]+\)/g,function(m){return toHex(m)}):s}
  // Shim CSSStyleRule.cssText
  var cssDesc=Object.getOwnPropertyDescriptor(CSSStyleRule.prototype,'cssText');
  if(cssDesc)Object.defineProperty(CSSStyleRule.prototype,'cssText',{get:function(){return convert(cssDesc.get.call(this))},set:cssDesc.set});
  // Shim CSSStyleDeclaration
  var origGetProp=CSSStyleDeclaration.prototype.getPropertyValue;
  CSSStyleDeclaration.prototype.getPropertyValue=function(p){return convert(origGetProp.call(this,p))};
})();

    var disqus_config = function () {
        this.page.url = "{{ current_url | safe}}";      
        this.page.identifier = "guestbook";     
    };

    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://jimmyff.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">guestbook powered by Disqus.</a></noscript>


{% endblock content %}

