{% extends "base.html" -%}

{% block content -%}
<h1 class="title">
    {{ page.title }}
</h1>
<article>
    {{ page.content | safe }}

{% set posts = get_taxonomy(kind="tags") %}
{% set posts_filtered = posts.items | filter (attribute="name", value=page.extra.tag) %}

{# <code>    {{ posts_filtered | json_encode(pretty=true) }}</code> #}

<h3>Latest from the gallery</h3>
<div class="g">
{% set idx = 0 -%}
{% for post in posts_filtered[0].pages %}
{% if post.components is containing ("gallery")  %}
{% if post.extra.images  -%}
{% for image in post.extra.images -%}
{% set_global idx = idx + 1 -%}
{% if idx <= 12 -%}
<a href="{{ post.permalink | safe }}" title="{{ post.title }} - {{ post.date }}">{{ images::responsive_thumbnail(path=post.colocated_path, src=image, default_size=128, sizes=[128,256], alt=post.title  ~ " - "  ~ post.date ) -}}</a>
{% endif -%}
{% endfor -%}
{% endif -%}
{% endif -%}
{% endfor -%}
</div>

<h3>Latest from the blog</h3>
<ul class="p">
    {% set idx = 0 -%}
    {% set more_content = false -%}
    {% for post in posts_filtered[0].pages %}
    {% if post.components is containing ("blog")  %}
    {% set_global idx = idx + 1 -%}
    {% if idx <= 6 -%}
  <li>
    <time datetime="{{ post.date }}"><span>{{ post.date | date(format='%d') }}</span><span class="s">{{ post.date | date(format='%b') }}</span></time>
    <div><a href="{{ post.permalink | safe }}">{{ post.title }}</a>{% if post.draft %} (Draft){% endif %}
    {{ hooks::posts_below_title(page=post) }}</div>
  </li>
  {% else %}
    {% set_global more_content = true -%}
  {% endif %}
  {% endif %}

  {% endfor %}
</ul>
{% if more_content == true %}
{% set content_length = posts_filtered[0].pages | length %}
{{ "[View all " ~ content_length ~ " #" ~ page.extra.tag ~" pages &raquo;](/tags/" ~ page.extra.tag ~ ")" | markdown(inline=true) | safe }}

{% endif %}


</article>


{% endblock content -%}