{% extends "base.html" -%}
{% import "macros/projects.html" as projects -%}

{% block content -%}

<h1 class="title">
    {{ page.title }}
</h1>
<article>

    {{ page.content | safe }}

    {# {% set posts_filtered = get_taxonomy_term(kind="project", term="dating") %} #}
    {% set posts = get_taxonomy(kind="tags") %}

{# <code>    {{ posts | json_encode(pretty=true) }}</code> #}

{#  #}
{% set posts_filtered = posts.items | filter (attribute="name", value=page.extra.tag)  %} 

{# <code>    {{ posts_filtered | json_encode(pretty=true) }}</code> #}


{% set gallery_posts = posts_filtered[0].pages | filter (attribute="components.0", value="gallery")  %} 
{% set blog_posts = posts_filtered[0].pages | filter (attribute="components.0", value="blog")  %} 

{# 
gallery
<code>    {{ gallery_posts | json_encode(pretty=true) }}</code>

blog
<code>    {{ blog_posts | json_encode(pretty=true) }}</code> #}


{% for year, posts in posts_filtered[0].pages | group_by(attribute="year") %}
<hr>
<h2>{{ year }}</h2>

{% set gallery_posts = posts | filter (attribute="components.0", value="gallery") %}
{% set blog_posts = posts | filter (attribute="components.0", value="blog") %}

{% if gallery_posts | length > 0 %}
<div class="g">
{% for post in gallery_posts %}
{% if post.extra.images  -%}
{% for image in post.extra.images -%}
<a href="{{ post.permalink | safe }}" title="{{ post.title }} - {{ post.date }}">{{ images::responsive_thumbnail(path=post.colocated_path, src=image, default_size=128, sizes=[128,256], alt=post.title  ~ " - "  ~ post.date ) -}}</a>
{% endfor -%}
{% endif -%}
{% endfor -%}
</div>
{% endif -%}

{% if gallery_posts | length > 0 and blog_posts | length > 0 %}
<hr>
{% endif -%}

{% if blog_posts | length > 0 %}
<ul class="p">
  {% for post in blog_posts %}
  <li>
    <time datetime="{{ post.date }}"><span>{{ post.date | date(format='%d') }}</span><span class="s">{{ post.date | date(format='%b') }}</span></time>
    <div><a href="{{ post.permalink | safe }}">{{ post.title }}</a>{% if post.draft %} (Draft){% endif %}
    {{ hooks::posts_below_title(page=post) }}</div>
  </li>
  {% endfor %}
</ul>
{% endif -%}
{% endfor %}


</article>

{% endblock content -%}